.header {
  height: 6.5rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;

  .wrap {
    //max-width: 1450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    //background-color: yellow;
    width: 100%;

    .logo {
      width: 3rem;

      img {
        width: 100%;
        display: inline-block;
      }
    }
  }
}